/* Animação de entrega do envelope, movendo-o para a direita */
@keyframes delivery {
  0% { transform: translateX(0); }
  100% { transform: translateX(1500px); }
}

/* Animação de "subir e depois aumentar", onde o envelope sobe e o papel é escalado */
@keyframes upthenscale {
  0% { transform: translateY(400px); }
  50% { transform: translateY(0); }
  60% {
    height: 200px;
    width: 160px;
    transform: translateY(0);
  }
  100% {
    height: auto;
    width: 100%;
    transform: translateY(0);
  }
}

/* Animação de "escalar e descer", onde o envelope diminui e depois desce */
@keyframes scalethendown {
  0% {
    height: auto;
    width: 100%;
    transform: translateY(0);
  }
  50% {
    height: 60px;
    width: 160px;
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(400px);
  }
}


/* Animação de fade vermelha, alterando a cor de fundo */
@keyframes redfade {
  0%, 50% { background-color: black; }
  100% { background-color: #991e1e; }
}




/* Estilos globais do corpo da página */
body {
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  font-family: 'Charm', cursive;
  overflow-x: hidden;
}

/* Estilos para o nome da Sarah */
.sarah {
  color: #080138;
  font-size: 2.5em;
  font-family: "Charm", cursive;
}

/* Estilos para o nome do King */
.king {
  color: #270907;
  font-size: 2.5em;
  font-family: "Gochi Hand", cursive;
}

/* Container principal do conteúdo */
#first {
  max-width: 1000px;
  margin: auto;
}

/* Estilos para o texto da carta */
.txt {
  padding: 40px;
  font-size: 1.5em;
  white-space: pre-wrap;
}

/* Classe para exibir a carta já aberta */
.now {
  display: block;
}

/* Classe para esconder a carta antes de ser aberta */
.not-yet {
  display: none;
}

/* Estilos para a carta em si */
.letter {
  margin: auto;
  max-width: 1000px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  display: block;
  bottom: 35vh;
}

/* Animação de abertura da carta */
.letter--open .paper {
  animation: upthenscale 0.6s forwards;
}

/* Animação de fechamento da carta */
.letter--close .paper {
  animation: scalethendown 0.8s forwards;
}



/* Exibição do botão de fechar a carta */
.letter--open .paper-close {
  visibility: visible;

}

/* Esconde o texto quando a carta está fechada */
.letter--close .txt {
  visibility: hidden;
}

/* Quando a carta está aberta, não há restrições de altura */
.letter--open {
  height: auto;
}

/* Efeito do flap do envelope quando a carta está fechada */
.letter--close .envelope-flap {
  transform: translateY(-60px);
}

/* Estilos para o papel da carta */
.paper {
  height: 60px;
  width: 0;
  background: #f1f0c3;
  transform: translateY(400px);
  margin: auto;
  transition: transform 0.3s ease;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  bottom: 50px;
}

/* Papel superior da carta (na frente) */
.paper--top {
  z-index: 3;
}

/* Estilos para o envelope */
.envelope {
  width: 185px;
  height: 100px;
  background: #f36363;
  position: relative;
  margin: auto;
  z-index: 1;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.3s ease;
  transform: translateY(400px);
  animation: wiggle 0.3s 0.2s infinite;
  margin-bottom: 250px;
}

/* Efeito de pausa da animação ao passar o mouse sobre o envelope */
.envelope:hover {
  animation-play-state: paused;
}

/* Efeito de "flap" do envelope ao passar o mouse */
.envelope:hover .envelope-paper {
  transform: translateY(-35px);
}

/* Esconde detalhes do envelope ao passar o mouse */
.envelope:hover .envelope-detail::after {
  visibility: hidden;
}

/* Estilos do papel dentro do envelope */
.envelope-paper {
  height: 80px;
  width: 180px;
  background: #f1f0c3;
  transform: translateY(0);
  margin: 0 auto;
  border-radius: 4px;
  position: absolute;
  border: 2px solid transparent;
}

/* Esconde o papel e o envelope detalhado quando a carta está aberta ou fechada */
.letter--open .envelope-paper,
.letter--open .envelope-detail::after,
.letter--close .envelope-paper,
.letter--close .envelope-detail::after {
  visibility: hidden;
}

/* Estilos do flap do envelope */
.envelope-flap {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 60px solid #FFE4F0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(0);
}

/* Animação do flap do envelope ao abrir a carta */
.letter--open .envelope-flap {
  transform: translateY(-60px);
}

/* Detalhes adicionais do envelope */
.envelope-detail {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #F8B9B7;
  border-top: 2px solid transparent;
}

/* Detalhes gráficos adicionais do envelope */
.envelope-detail:before,
.envelope-detail:after {
  content: "";
  width: 100px;
  height: 100px;
  background: #F8B9B7;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
  border: 4px solid #b88c8b;
}

/* Detalhes do envelope */
.envelope-detail:before {
  top: 45px;
}

.envelope-detail:after {
  top: -60px;
}

/* Estilos do envelope dobrado */
.envelope__fold {
  height: 0px;
  width: 185px;
  background: #f36363;
  border: 4px solid #470f0f;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;
  border-radius: 4px;
}

/* Estilos para o botão de fechar a carta */
.paper-close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 4;
  visibility: hidden;
}

/* Animação de entrega do envelope */
.letter--delivered {
  animation: delivery 0.5s alternate 2;
}

/* Classe para esconder um elemento com animação de fade */
.hide {

}




